<form action=<%= route %> method=<%= method %> enctype="multipart/form-data" class="form-container">
    <div class="form-group">
        <label for="title">Название:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>" required>
    </div>
    <div class="form-group">
        <label for="description">Описание:</label>
        <textarea id="description" name="description" rows="4" cols="50" required><%= book.description %></textarea>
    </div>
    <div class="form-group">
        <label for="authors">Авторы:</label>
        <input type="text" id="authors" name="authors" value="<%= book.authors %>" required>
    </div>
    <div class="form-group">
        <label for="fileCover">Обложка (URL):</label>
        <input type="url" id="fileCover" name="fileCover" value="<%= book.fileCover %>" required>
    </div>
    <div class="form-group">
        <label for="fileBook">Ссылка на книгу (URL):</label>
        <input type="url" id="fileBook" name="fileBook" value="<%= book.fileBook %>" <% if (!book.id) { %>required<% } %>>
    </div>
    <div class="form-group">
        <label for="file">Загрузить файл:</label>
        <input type="file" id="file" name="file-book">
    </div>
    <div class="form-group">
        <label for="favorite">Избранное:</label>
        <input type="checkbox" id="favorite" name="favorite" <% if (book.favorite) { %>checked<% } %>>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
