<%- include('../includes/layout-start', {title: title}) %>
<%- include('../includes/menu') %>

<h1><%= book.title %></h1>
<div>
    <h5><%= book.title %></h5>
    <p><%= book.description %></p>
    <caption><%= book.authors %></caption>

    <p>Количество просмотров: <%= counter %></p>
</div>
<form action="/api/books/<%= book.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Удалить</button>
</form>
<a href="/api/update/<%= book.id %>">Редактировать</a>

<div id="comments"></div>
  
<form id="comment-form">
  <textarea id="comment-text" placeholder="Добавьте комментарий"></textarea>
  <button type="submit">Отправить</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/static/js/socketClient.js"></script>
</body>
</html>
